<a href="https://colab.research.google.com/github/MUNIALO-DA/data-cleaning/blob/main/Copy_of_Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
tu

2+2

In [ ]:
2*2

4

In [ ]:
print(2+2)
print(3*3)

4
9

In [ ]:
salary = 100000

In [ ]:
base_salary = 100000
bonus_rate = .10

In [ ]:
total_salary = (base_salary) * (1+ bonus_rate)

In [ ]:
total_salary

110000.00000000001

In [ ]:
 lukes_salary = 100000

In [ ]:
company_name = 'datawiz inc'

In [ ]:
job_wfh = True

In [ ]:
job_id = 101
job_title = 'data analyst'
job_salary = 125000

In [ ]:
print("data job description")
print("++++++++++")
print("job id")
print("company name:    ", company_name)
print("job title:   ", job_title)
print("salary:   ", job_salary)
print("wfh:    ", job_wfh)

data job description
++++++++++
job id
company name:     datawiz inc
job title:    data analyst
salary:    125000
wfh:     True

In [ ]:
"python".lower()

'python'

In [ ]:
skill="Python"
skill.replace("P","J")

'Jython'

In [ ]:
job_title="data analyst"  #rename data as doto
job_title.replace("a","o",2)

'doto analyst'

In [ ]:
job_title= job_title.replace("a","o",2)

In [ ]:
job_title.split(sep= " ", maxsplit=2) #splitting the string doto analyst

['doto', 'onolyst']